* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    cursor: pointer;
}

header nav {
    background-color: aqua;
    padding: 20px;
}

header nav ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

ul li {
    color: white;
    list-style: none;
}